In [1]:
import pandas as pd
import Parser

In [2]:
m = Parser.client()
curr = m.get_currency('01.01.2021')
pr = m.get_oil_price()

[client]: Запрос в ЦБ РФ по курсу
[client]: Загружаю котировки Argus

In [15]:
df_curr = pd.DataFrame(curr)
df_pr = pd.DataFrame(pr).set_index('Dates')

In [22]:
#: Обработка датафрейма с котировками Argus
df_pr['Price'] = pd.to_numeric(df_pr['Price'].str.replace(',','.'))

In [17]:

df_curr['Dates'] = pd.to_datetime(df_curr['Dates'], format='%d.%m.%Y', dayfirst=True)
df_curr['Rate'] = df_curr['Rate'].str.replace(',', '.')
df_curr['Rate'] = df_curr['Rate'].str.replace(' ', '')
df_curr['Rate'] = pd.to_numeric(df_curr['Rate']) 
m = df_curr.set_index('Dates').groupby(pd.Grouper(freq='MS')).mean().round(4)

In [24]:
merged_dfs = df_pr.merge(m, how='inner', left_index=True, right_index=True)

In [12]:
df_pr

        Dates  Price
0  2023-08-01  73,73
1  2023-07-01  64,21
2  2023-06-01  55,45
3  2023-05-01  53,50
4  2023-04-01  58,97
5  2023-03-01  48,67
6  2023-02-01  49,35
7  2023-01-01  49,02
8  2022-12-01  50,15
9  2022-11-01  66,69
10 2022-10-01  71,91
11 2022-09-01  68,61
12 2022-08-01  75,94
13 2022-07-01  84,19
14 2022-06-01  90,22
15 2022-05-01  79,98
16 2022-04-01  71,01
17 2022-03-01  91,26
18 2022-02-01  93,72
19 2022-01-01  86,38
20 2021-12-01  72,88
21 2021-11-01  79,98
22 2021-10-01  81,71
23 2021-09-01  72,50
24 2021-08-01  68,33
25 2021-07-01  72,77
26 2021-06-01  71,46
27 2021-05-01  66,96
28 2021-04-01  62,60
29 2021-03-01  63,90
30 2021-02-01  61,09
31 2021-01-01  54,56
32 2020-12-01  49,54
33 2020-11-01  43,09
34 2020-10-01  40,26
35 2020-09-01  40,74
36 2020-08-01  44,74
37 2020-07-01  44,15
38 2020-06-01  42,06
39 2020-05-01  30,38
40 2020-04-01  16,26
41 2020-03-01  28,95
42 2020-02-01  54,53
43 2020-01-01  62,07
44 2019-12-01  65,47

In [6]:
df_pr.set_index('Dates').to_excel('data/argus_pr.xlsx'), m.to_excel('data/CBR_USD.xlsx')

(None, None)

In [25]:
merged_dfs.to_excel('data/prices.xlsx')

In [27]:
email = Parser.sender()
#msg = email.create_message(all=True)
msg = email.create_message(filename='prices.xlsx')
email.send_message(msg=msg)

[email-sender]: prices.xlsx добавлен во вложениe
[email-sender]: prices.xlsx добавлен во вложениe
[email-sender]: Выгрузка отправлено на адрес abrosimov.ov@gazprom-neft.ru
[email-sender]: Выгрузка отправлено на адрес abrosimov.ov@gazprom-neft.ru